@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  white-space: pre-line;
}
body {
  overflow-x: hidden;
}

input {
  outline: none;
}

button:hover {
  scale: 102%;
}
.ql-align-right {
  display: flex;
  justify-content: flex-end;
}
.ql-align-center {
  display: flex;
  justify-content: center;
}
