@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  white-space: pre-line;
}
body {
  overflow-x: hidden;
}

input {
  outline: none;
}
::-webkit-scrollbar {
  /* Customize the scrollbar width */
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  color: white;
}
